<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/company/contacts.css' %}">
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="header__inner">
                <div class="logo">
                    <a href="{% url 'company:Home' %}" class="logo__link">
                        hytor
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="contacts">
            <div class="wrapper-small">
                <div class="contacts__inner">
                    <form class="contacts__form" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <label for="{{field.id_for_label}}" class="contacts__label">{{field.label}}:</label>
                            {{field}}
                            {% if field.errors %}
                                {{field.errors}}
                            {% endif %}
                        {% endfor %}
                        <button class="contacts__btn">Send</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>