<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/payment/orders_list.css' %}">
    <title>Your orders</title>
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="header__inner">
                <div class="logo">
                    <a href="{% url 'company:Home' %}" class="logo__link">
                        hytor
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
         <section class="orders-list">
            <div class="wrapper-small">
                <div class="orders-list__inner">
                    {% for field in orders %}
                        <div class="orders-list__item">
                        <h4 class="orders-list__title">{{field.product.name}}</h4>
                            <div class="orders-list__quantity">
                                Quantity:{{field.quantity}}
                            </div>
                            <div class="orders-list__price">
                                Price:{{field.total_price}}
                            </div>
                            {% if field.active %}
                                <a href="#" class="orders-list__btn" data-order-id="{{field.id}}">Cancel</a>
                                <div class="orders-list__stage orders-list__stage--active">Active</div>
                            {% else %}
                                <div class="orders-list__stage orders-list__stage--completed">Completed</div>
                            {% endif %}
                        </div>
                    {% empty %}
                        <div class="orders-list__empty">
                            You haven't ordered anything yet
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/payment/orders_list.js' %}"></script>
</body>
</html>