<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/payment/success.css' %}">
</head>
<body>
<body>
     <header class="header">
        <div class="wrapper">
            <div class="header__inner">
                <div class="logo">
                    <a href="{% url 'company:Home' %}" class="logo__link">
                        hytor
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="success">
            <div class="wrapper-small">
                <div class="success__inner">
                    <h1 class="success__title">Your order has been received successfully</h1>
                    <a href="{% url 'company:Home' %}" class="success__btn">Return to the main pagee</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>