{% extends 'users/reset_password/reset_password.html' %}
{% block content %}
{% if request.user.is_authenticated %}
    <div class="authenticated">
        <p class="authenticated__text">
            You have already authenticated. Do you want to logout
        </p>
        <a href="{% url 'users:Log out' %}" class="authenticated__link">Log out</a>
    </div>
{% else %}
    {% if error %}
        <p class="error">{{error}}</p>
    {% endif %}
    <form method="POST" class="form">
        {% csrf_token %}
        <label class="form__label" for="{{form.new_password1.id_for_label}}">{{form.new_password1.label}}</label>
        {{form.new_password1}}
        {% if form.new_password1.errors %}
            {{form.new_password1.errors}}
        {% endif %}
        <label class="form__label" for="{{form.new_password2.id_for_label}}">{{form.new_password2.label}}</label>
        {{form.new_password2}}
        {% if form.new_password2.errors %}
            {{form.new_password2.errors}}
        {% endif %}
        <input type="submit" value="Send" class="submit">
    </form>
{% endif %}
{% endblock %}