@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border:none;
    background:none;
    outline:none;
    padding:0;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 1104px;
    padding:0 5px 0 5px;
    margin: 0 auto;
}

.header {
    background-color: #13131f;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700px;
    text-transform: uppercase;
}



.reset {
    margin-top: 100px;
}
.reset__inner {
    padding: 60px 30px;
    border: 1px solid #000;
    border-radius: 6px;
    max-width: 300px;
    margin: 0 auto;
}

.authenticated__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 13x;
    font-weight: 400px;
}

.authenticated__link {
    display: block;
    max-width: 90px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13x;
    font-weight: 400px;
    color: #fff;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #0492c2;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.form__label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16x;
    font-weight: 400px;
}


.form__input{
    border-bottom: 1px solid #000;
    padding-bottom: 6px;
}

.submit {
    background-color: transparent;
    border: 1px solid #ed0722;
    border-radius: 4px;
    cursor: pointer;
    color: #ed0722;
    width: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400px;
}

.reset__link {
    display: block;
    margin-top: 10px;
    color: #466af0;
}

.errorlist li {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400px;
    color: #cc101a;
}

.error{
    padding: 5px 10px;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    color: #cc101a;
    border: 1px solid #cc101a;
    border-radius: 6px;
}
